<%= render("waste_carriers_engine/shared/back", token: @invalid_company_status_form.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(@invalid_company_status_form) do |f| %>
      <%= render partial: "waste_carriers_engine/shared/error_summary", locals: { f: f } %>

      <h1 class="govuk-heading-l">
        <%= t(".heading", ch_number: @transient_registration.company_no) %>
      </h1>

      <p class="govuk-body"><%= t(".description") %></p>

      <p>
      <%= link_to t(".start_a_new_registration_button"), start_forms_path, class: "govuk-button" %>
    
    <% end %>
  </div>
</div>
