<%= render("waste_carriers_engine/shared/back", token: @renewal_stop_form.token) %>

<div class="govuk-body">
  <h1 class="govuk-heading-l"><%= t(".heading") %></h1>
  <p><%= t(".paragraph1") %></p>
  <p>
    <%= t(".paragraph2.line1") %><br/>
    <%= t(".paragraph2.line2") %>
  </p>
  <p><%= t(".paragraph3") %></p>
</div>
