<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <% if flash[:error].present? %>
      <div class="govuk-error-summary" role="alert">
        <h2 class="govuk-heading-m"><%= flash[:error] %></h2>
      </div>
    <% end %>

    <%= form_with url: certificate_process_email_path(@registration.reg_identifier), method: :post, html: { class: 'govuk-form-group' }, local: true do |form| %>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            <%=t('.legend')%>
          </h1>
        <div class="govuk-form-group">
          <%= form.email_field :email, required: true, class: 'govuk-input govuk-input--width-20' %>
        </div>
      </fieldset>

      </br>
      <%= form.submit "Confirm", class: 'govuk-button', data: { module: 'govuk-button' } %>
    <% end %>
  </main>
</div>
