<div class="column-two-thirds">
  <div class="govuk-box-highlight">
    <h1 class="heading-xlarge"><%= t(".heading") %></h1>

    <p class="font-large"><%= t(".highlight_text") %><br>

    <span class="strong" id="reg_identifier"><%= @registration.reg_identifier %></span></p>
  </div>

  <p><%= t(".paragraph_1", email: @registration.contact_email) %></p>

  <h2 class="heading-medium"><%= t(".subheading_1") %></h2>

  <ul class="list list-bullet">
    <% t(".list_1.#{@registration.tier}", expires_on: @registration.expires_on&.to_formatted_s(:month_year)).each do |list_item| %>
      <li><%= list_item %></li>
    <% end %>
  </ul>

  <%= render "shared/contact_environment_agency" %>

  <%= render "shared/registration_checks" %>

  <%= render "shared/registration_finished_button" %>

  <%= render "shared/link_to_survey" %>
</div>
