<%= render("waste_carriers_engine/shared/back", back_path: back_declare_convictions_forms_path(@declare_convictions_form.token)) %>
  <%= form_for @declare_convictions_form do |f| %>
    <%= render partial: "waste_carriers_engine/shared/error_summary", locals: { f: f } %>



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%=
          f.govuk_collection_radio_buttons :declared_convictions,
          [
            OpenStruct.new(
              id: "yes",
              name: t(".options.yes")
            ),
            OpenStruct.new(
              id: "no",
              name: t(".options.no")
            )
          ],
          :id,
          :name,
          inline: true,
          legend: { text: t(".heading"), size: "l" },
          hint: -> do
        %>

          <ul class="govuk-list govuk-list--bullet">
            <% if @declare_convictions_form.transient_registration.business_type == "partnership" %>
              <% t(".partnership_relevant_list").each do |item| %>
                <li><%= item %></li>
              <% end %>
            <% elsif @declare_convictions_form.transient_registration.business_type == "soleTrader" %>
              <% t(".sole_trader_relevant_list").each do |item| %>
                <li><%= item %></li>
              <% end %>
            <% else %>
              <% t(".other_business_types_relevant_list").each do |item| %>
                <li><%= item %></li>
              <% end %>
            <% end %>
          </ul>

          <p class="govuk-!-font-weight-bold"><%= t(".paragraph_1") %></p>
        <% end %>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              <%= t(".conviction_types_subheading") %>
            </span>
          </summary>

          <div class="govuk-details__text">
            <p><%= t(".conviction_types_paragraph_1") %></p>
            <p class="strong"><%= t(".conviction_types_paragraph_2") %></p>
            <ul class="govuk_list govuk_list--bullet">
              <% t(".conviction_types").each do |conviction| %>
                <li><%= conviction[:name] %></li>
              <% end %>
            </ul>
          </div>
        </details>

        <%= f.govuk_submit t(".next_button") %>
    </div>
  </div>
<% end %>
