<%= render("waste_carriers_engine/shared/back", back_path: back_cannot_renew_lower_tier_forms_path(@cannot_renew_lower_tier_form.token)) %>

<div class="text">
  <h1 class="heading-large"><%= t(".heading", reg_identifier: @cannot_renew_lower_tier_form.reg_identifier) %></h1>
  <p><%= t(".paragraph_1") %></p>
  <p><%= t(".paragraph_2") %></p>
  <%= link_to t(".next_button"), start_forms_path, class: "button" %>
</div>
