<% content_for :title, t(".heading.#{@company_name_form.business_type}.#{@company_name_form.tier}").html_safe %>
<%= render("waste_carriers_engine/shared/back", token: @company_name_form.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @company_name_form do |f| %>
      <%= render partial: "waste_carriers_engine/shared/error_summary", locals: { f: f } %>
      <%= f.govuk_text_field :company_name,
          width: "one-half",
          label: {
            text: t(".heading.#{@company_name_form.business_type}.#{@company_name_form.tier}"),
            tag: "h1", size: "l"
          },
          hint: {
            text: t(".company_name_label.#{@company_name_form.business_type}.#{@company_name_form.tier}")
          },
          autocomplete: "organization" %>
      <%= f.govuk_submit t(".next_button") %>
    <% end %>
  </div>
</div>
