<%= render("waste_carriers_engine/shared/back", back_path: back_tier_check_forms_path(@tier_check_form.reg_identifier)) %>

<div class="text">
  <%= form_for(@tier_check_form) do |f| %>
    <%= render("waste_carriers_engine/shared/errors", object: @tier_check_form) %>

    <h1 class="heading-large"><%= t(".heading") %></h1>

    <p><%= t(".paragraph_1") %></p>
    <p><%= t(".paragraph_2") %></p>
    <p><%= t(".paragraph_3", renewal_charge: display_pence_as_pounds(Rails.configuration.renewal_charge)) %></p>

    <div class="form-group">
      <details>
        <summary>
          <span class="summary"><%= t(".tier_details_subheading") %></span>
        </summary>
        <div class="panel panel-border-narrow">
          <p><%= t(".tier_details_paragraph_1") %></p>
          <p class="strong"><%= t(".tier_details_paragraph_2") %></p>
          <ul class="list list-bullet">
            <% t(".tier_details_list_1").each do |item| %>
            <li><%= item[:item] %></li>
            <% end %>
          </ul>
          <p class="strong"><%= t(".tier_details_paragraph_3") %></p>
          <ul class="list list-bullet">
            <% t(".tier_details_list_2").each do |item| %>
            <li><%= item[:item] %></li>
            <% end %>
          </ul>
        </div>
      </details>
    </div>

    <% if @tier_check_form.errors[:temp_tier_check].any? %>
    <div class="form-group form-group-error">
    <% else %>
    <div class="form-group">
    <% end %>
      <fieldset id="temp_tier_check">
        <legend class="visuallyhidden">
          <%= t(".heading") %>
        </legend>

        <% if @tier_check_form.errors[:temp_tier_check].any? %>
        <span class="error-message"><%= @tier_check_form.errors[:temp_tier_check].join(", ") %></span>
        <% end %>

        <div class="multiple-choice">
          <%= f.radio_button :temp_tier_check, "no" %>
          <%= f.label :temp_tier_check, t(".options.no"), value: "no" %>
        </div>
        <div class="multiple-choice">
          <%= f.radio_button :temp_tier_check, "yes" %>
          <%= f.label :temp_tier_check, t(".options.yes"), value: "yes" %>
        </div>
      </fieldset>
    </div>

    <%= f.hidden_field :reg_identifier, value: @tier_check_form.reg_identifier %>
    <div class="form-group">
      <%= f.submit t(".next_button"), class: "button" %>
    </div>
  <% end %>
</div>
