<%= render("shared/back", back_path: back_waste_types_forms_path(@waste_types_form.reg_identifier)) %>

<div class="text">
  <%= form_for(@waste_types_form) do |f| %>
    <%= render("shared/errors", object: @waste_types_form) %>

    <h1 class="heading-large"><%= t(".heading") %></h1>

    <ul class="list list-bullet">
      <li><%= t(".waste_type_1") %></li>
      <li><%= t(".waste_type_2") %></li>
      <li><%= t(".waste_type_3") %></li>
    </ul>

    <% if @waste_types_form.errors[:only_amf].any? %>
    <div class="form-group form-group-error">
    <% else %>
    <div class="form-group">
    <% end %>
      <fieldset id="only_amf">
        <legend class="visuallyhidden">
          <%= t(".heading") %>
        </legend>

        <% if @waste_types_form.errors[:only_amf].any? %>
        <span class="error-message"><%= @waste_types_form.errors[:only_amf].join(", ") %></span>
        <% end %>

        <div class="multiple-choice">
          <%= f.radio_button :only_amf, "true" %>
          <%= f.label :only_amf, t(".option_true_html"), value: "true" %>
        </div>
        <div class="multiple-choice">
          <%= f.radio_button :only_amf, "false" %>
          <%= f.label :only_amf, t(".option_false"), value: "false" %>
        </div>
      </fieldset>
    </div>

    <%= f.hidden_field :reg_identifier, value: @waste_types_form.reg_identifier %>
    <div class="form-group">
      <%= f.submit t(".next_button"), class: "button" %>
    </div>
  <% end %>
</div>
