<%= render("waste_carriers_engine/shared/back", back_path: back_service_provided_forms_path(@service_provided_form.token)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @service_provided_form do |f| %>
      <%= render partial: "waste_carriers_engine/shared/error_summary", locals: { f: f } %>
      <%=
        f.govuk_collection_radio_buttons :is_main_service,
        [
          OpenStruct.new(
            id: "no",
            name: t(".options.no")
          ),
          OpenStruct.new(
            id: "yes",
            name: t(".options.yes")
          )
        ],
        :id,
        :name,
        legend: { text: t(".heading"), size: "l" }
      %>
      <%= f.govuk_submit t(".next_button") %>
    <% end %>
  </div>
</div>
