<!doctype html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8"> <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9"> <![endif]-->
<!--[if gt IE 9]>  <html> <![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->

<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <!-- Use title if it's in the page YAML frontmatter -->
  <title>Waste Carriers Service</title>
</head>

<body style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; margin: 0; color: #0b0c0c">
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td width="100%" height="53px" bgcolor="#0b0c0c">
        <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
          <tr>
            <td width="100%" bgcolor="#0b0c0c" valign="middle">
              <%= email_image_tag("govuk_logotype_email.png", alt: 'GOV.UK', border: '0') %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
    <tr>
      <td width="100%">
        <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
          <tr>
            <td width="100%" class="header" style="padding-top: 10px;" colspan="2">
              <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
                <tr>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td width="75%" style="font-family: Helvetica, Arial, sans-serif;">
              <p style="font-weight: 400; font-size: 16px; line-height: 1; margin: 10px 0 10px 0;"><%= t(".dear", full_name: @presenter.contact_name) %></p>
            </td>
            <td width="25%">&nbsp;</td>
          </tr>
          <tr>
            <td style="font-family: Helvetica, Arial, sans-serif; margin: 0 0 30px 0;">
              <h1 style="font-size: 20px; margin: 10px 0px 15px 0px;">
                <%= t(".heading") %>
              </h1>
            </td>
            <td width="25%">&nbsp;</td>
          </tr>
          <tr>
            <td width="75%" style="font-family: Helvetica, Arial, sans-serif;">
              <p style="font-size: 16px; line-height: 1.125;">
                <%= t(".paragraph_1", description: @presenter.order_description, formatted_date: @presenter.ordered_on_formatted_string, reg_identifier: @presenter.reg_identifier) %>
              </p>
            </td>
            <td width="25%">
              &nbsp;
            </td>
          </tr>
          <tr>
            <td width="75%" style="font-family: Helvetica, Arial, sans-serif;">
              <p style="font-size: 16px; line-height: 1.125;">
                <%= t(".paragraph_2") %>
              </p>
            </td>
            <td width="25%">
              &nbsp;
            </td>
          </tr>
          <tr>
            <td width="75%" style="font-family: Helvetica, Arial, sans-serif;">
              <p style="font-size: 16px; font-weight: bold; line-height: 1.125; margin: 10px 0 15px 0;">
                <%= t(".pay_by_bank_transfer.heading") %>
              </p>

              <p style="font-size: 16px; line-height: 1.125; margin: 0 0 5px 0;">
                <%= t(".pay_by_bank_transfer.payment_due") %>
                <span style="font-weight: bold;">
                  £<%= display_pence_as_pounds(@presenter.total_paid) %>
                </span>
              </p>
              <p style="font-size: 16px; line-height: 1.125; margin: 0 0 5px 0;">
                <%= t(".pay_by_bank_transfer.use_this_reference") %>
                <span style="font-weight: bold;">
                  <%= @presenter.reg_identifier %>
                </span>
              </p>
              <p style="font-size: 16px; line-height: 1.125; margin: 0 0 5px 0;">
                <%= t(".pay_by_bank_transfer.sort_code.label") %>
                <span style="font-weight: bold;">
                  <%= t(".pay_by_bank_transfer.sort_code.value") %>
                </span>
              </p>
              <p style="font-size: 16px; line-height: 1.125; margin: 0 0 5px 0;">
                <%= t(".pay_by_bank_transfer.account_number.label") %>
                <span style="font-weight: bold;">
                  <%= t(".pay_by_bank_transfer.account_number.value") %>
                </span>
              </p>
            </td>
            <td width="25%">
              &nbsp;
            </td>
          </tr>
          <tr>
            <td width="75%" style="font-family: Helvetica, Arial, sans-serif;">
              <p style="font-size: 16px; font-weight: bold; line-height: 1.125; margin: 10px 0 15px 0;">
                <%= t(".after_paying.heading") %>
              </p>

              <p style="font-size: 16px; line-height: 1.125; margin: 0 0 10px 0;">
                <%= t(".after_paying.email_us.label") %>
                <%= link_to t(".after_paying.email_us.email"), "mailto:#{t(".after_paying.email_us.email")}" %>
              </p>
              <p style="font-size: 16px; line-height: 1.125; margin: 0 0 10px 0;">
                <%= t(".after_paying.fax.label") %>
                <span style="font-weight: bold;">
                  <%= t(".after_paying.fax.value") %>
                </span>
              </p>
              <p style="font-size: 16px; line-height: 1.125; margin: 0 0 5px 0;">
                <%= t(".after_paying.send_a_letter") %>
              </p>

              <p style="font-size: 16px; line-height: 1.125; margin: 0 0 5px 15px;">
                <%= t(".after_paying.address").join("<br>").html_safe %>
              </p>
            </td>
            <td width="25%">
              &nbsp;
            </td>
          </tr>
          <tr style="margin-top:40px">
            <td width="75%" style="font-family: Helvetica, Arial, sans-serif;">
              <p style="font-size: 16px; font-weight: bold; line-height: 1.125; margin: 40px 0 15px 0;">
                <%= t(".contact_us.heading") %>
              </p>

              <p style="font-size: 16px; line-height: 1.125; margin: 0 0 5px 0;">
                <%= t(".contact_us.address.line_1") %>
              </p>
              <p style="font-size: 16px; line-height: 1.125; margin: 0 0 5px 0;">
                <%= t(".contact_us.address.line_2") %>
              </p>
              <p style="font-size: 16px; line-height: 1.125; margin: 0 0 5px 0;">
                <%= link_to t(".contact_us.address.email"), "mailto:#{t(".contact_us.address.email")}" %>
              </p>
            </td>
            <td width="25%">
              &nbsp;
            </td>
          </tr>
          <tr style="margin-top:40px">
            <td>
              <p style="font-size: 16px; line-height: 1.125;">
                <%= t(".footer") %>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
