<br>

<% if controller_name != 'sessions' %>
  <p><%= link_to "Log in", new_session_path(resource_name) %></p>
<% end %>

<% if devise_mapping.registerable? && controller_name != 'registrations' %>
  <p><%= link_to "Sign up", new_registration_path(resource_name) %></p>
<% end %>

<% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <details>
    <summary><span class="summary"><%= t(".password_reset_summary") %></span></summary>
    <div class="panel panel-border-narrow">
      <p><%= t(".password_reset_paragraph_1") %> <%= link_to t(".password_reset_link_text"), new_password_path(resource_name) %>.</p>
    </div>
  </details>

  <details>
    <summary><span class="summary"><%= t(".unknown_email_summary") %></span></summary>
    <div class="panel panel-border-narrow">
      <p><%= t(".unknown_email_paragraph_1") %></p>
    </div>
  </details>
<% end %>

<% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <details>
    <summary><span class="summary"><%= t(".locked_summary") %></span></summary>
    <div class="panel panel-border-narrow">
      <p><%= t(".locked_paragraph_1") %> <%= link_to t(".locked_link_text"), new_unlock_path(resource_name) %>.</p>
    </div>
  </details>
<% end %>

<% if devise_mapping.omniauthable? %>
  <% resource_class.omniauth_providers.each do |provider| %>
    <p><%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %></p>
  <% end %>
<% end %>
