<%= render("waste_carriers_engine/shared/back", back_path: back_check_your_answers_forms_path(@check_your_answers_form.token)) %>

<div class="text">
  <% if @check_your_answers_form.errors.any? %>
    <div class="error-summary" role="alert">
      <h2 class="heading-medium error-summary-heading"><%= t(".error_heading") %></h2>

      <p><%= t(".error_description_1") %></p>

      <ul class="list list-bullet">
      <% @check_your_answers_form.errors.each do |_field, message| %>
        <li><%= message %></li>
      <% end %>
      </ul>

      <p><%= t(".error_description_2") %></p>
    </div>
  <% else %>
    <%= form_for(@check_your_answers_form) do |f| %>
      <%= render("waste_carriers_engine/shared/errors", object: @check_your_answers_form) %>

      <h1 class="heading-large"><%= t(".heading") %></h1>

      <p><%= t(".paragraph_1_html", expiry_date: @check_your_answers_form.transient_registration.projected_renewal_end_date) %></p>
      <p><%= t(".paragraph_2", renewal_charge: display_pence_as_pounds(Rails.configuration.renewal_charge)) %></p>
      <% if @check_your_answers_form.registration_type_changed? %>
        <p><%= t(".paragraph_3", type_change_charge: display_pence_as_pounds(Rails.configuration.type_change_charge)) %></p>
      <% end %>

      <hr>

      <h2 class="heading-medium"><%= t(".subheading_1") %></h2>

      <ul class="list list-bullet">
        <li><%= t(".reg_identifier_html", reg_identifier: @check_your_answers_form.reg_identifier) %></li>
        <li><%= t(".location.#{@check_your_answers_form.location}_html") %></li>
        <% unless @check_your_answers_form.transient_registration.overseas? %>
          <li><%= t(".business_type.#{@check_your_answers_form.business_type}_html") %></li>
        <% end %>
      </ul>

      <hr>

      <h2 class="heading-medium"><%= t(".subheading_2") %></h2>

      <p><%= t(".registration_type.#{@check_your_answers_form.registration_type}_html") %></p>

      <hr>

      <h2 class="heading-medium"><%= t(".subheading_3.#{@check_your_answers_form.business_type}") %></h2>

      <p><%= @check_your_answers_form.company_name %></p>

      <hr>

      <% if @check_your_answers_form.company_no.present? %>
        <h2 class="heading-medium"><%= t(".subheading_4") %></h2>

        <p><%= @check_your_answers_form.company_no %></p>

        <hr>
      <% end %>

      <h2 class="heading-medium"><%= t(".subheading_5.#{@check_your_answers_form.business_type}") %></h2>

      <ul class="list">
        <% displayable_address(@check_your_answers_form.registered_address).each do |line| %>
          <li><%= line %></li>
        <% end %>
      </ul>

      <hr>

      <h2 class="heading-medium"><%= t(".subheading_6.#{@check_your_answers_form.business_type}", count: @check_your_answers_form.main_people.count ) %></h2>

      <% @check_your_answers_form.main_people.each do |person| %>
        <ul class="list">
          <li><%= person.first_name %> <%= person.last_name %></li>
          <li><%= person.dob.to_date %></li>
        </ul>
      <% end %>

      <hr>

      <h2 class="heading-medium"><%= t(".subheading_7") %></h2>

      <p><%= t(".declared_convictions.#{@check_your_answers_form.declared_convictions}") %></p>

      <% if @check_your_answers_form.declared_convictions %>
        <% @check_your_answers_form.relevant_people.each do |person| %>
          <ul class="list">
            <li><%= person.first_name %> <%= person.last_name %></li>
            <li><%= person.position %></li>
            <li><%= person.dob.to_date %></li>
          </ul>
        <% end %>
      <% end %>

      <hr>

      <h2 class="heading-medium"><%= t(".subheading_8") %></h2>

      <ul class="list">
        <li><%= @check_your_answers_form.contact_name %></li>
        <li><%= @check_your_answers_form.phone_number %></li>
        <li><%= @check_your_answers_form.contact_email %></li>
      </ul>

      <ul class="list">
        <% displayable_address(@check_your_answers_form.contact_address).each do |line| %>
          <li><%= line %></li>
        <% end %>
      </ul>

      <hr>

      <div class="form-group">
        <%= f.submit t(".next_button"), class: "button" %>
      </div>
    <% end %>

  <% end %>
</div>
