<%= render("waste_carriers_engine/shared/back", token: @conviction_details_form.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "waste_carriers_engine/conviction_details_forms/form" %>
  </div>

  <% if @conviction_details_form.number_of_existing_relevant_people > 0 && !@conviction_details_form.errors.any? %>
    <div class="govuk-gridcolumn-one-third">
      <h2 class="govuk-heading-s"><%= t(".list_of_people") %></h2>
      <ul class="govuk-list">
        <% @transient_registration.relevant_people.each do |person| %>
          <li>
            <%= person.first_name %> <%= person.last_name %>
            <%= button_to(t(".delete_person_link"),
                delete_person_conviction_details_forms_path(token: @conviction_details_form.token, id: person.id),
                class: "button-link",
                method: :delete) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
