<%= render("waste_carriers_engine/shared/back", token: @declaration_form.token) %>

<%= form_for(@declaration_form) do |f| %>
  <%= render partial: "waste_carriers_engine/shared/error_summary", locals: { f: f } %>

  <%= f.govuk_check_boxes_fieldset :declaration,
      multiple: false,
      legend: { text:  t(".heading"), size: "l", tag: "h1" } do %>

    <ul class="govuk-list govuk-list--bullet">
      <li><%= t(".list_item_1") %></li>
      <li><%= t(".list_item_2", policy_link: link_to(t(".policy_link_text"), t(".policy_link_url"), target: "_blank")).html_safe %></li>
    </ul>

    <%= f.govuk_check_box :declaration,
        1,
        0,
        multiple: false,
        link_errors: true,
        label: { text: t(".declaration_text") } %>

  <% end %>

  <%= f.govuk_submit t(".next_button") %>
<% end %>
