<%= render("waste_carriers_engine/shared/back", back_path: back_declaration_forms_path(@declaration_form.token)) %>

<div class="text">
  <%= form_for(@declaration_form) do |f| %>
    <%= render("waste_carriers_engine/shared/errors", object: @declaration_form) %>

    <h1 class="heading-large"><%= t(".heading") %></h1>
    <ul class="list list-bullet">
      <li><%= t(".list_item_1") %></li>
      <li><%= t(".list_item_2") %></li>
    </ul>

    <div class="form-group  <%= "form-group-error" if @declaration_form.errors[:declaration].any? %>">
      <fieldset id="declaration">
        <% if @declaration_form.errors[:declaration].any? %>
          <span class="error-message"><%= @declaration_form.errors[:declaration].join(", ") %></span>
        <% end %>

        <div class="multiple-choice">
          <%= f.check_box :declaration %>
          <%= f.label :declaration, t(".declaration_text") %>
        </div>
      </fieldset>
    </div>

    <p><%= link_to t(".privacy_link_text"), page_path("privacy"),  target: "_blank" %></p>
    <p><%= t(".third_party_text") %></p>

    <div class="form-group">
      <%= f.submit t(".next_button"), class: "button" %>
    </div>
  <% end %>
</div>
