<%= render("waste_carriers_engine/shared/back", back_path: back_renew_registration_forms_path(token: @renew_registration_form.token)) %>

<div class="text">
  <%= form_for(@renew_registration_form) do |f| %>
    <%= render("waste_carriers_engine/shared/errors", object: @renew_registration_form) %>

    <h1 class="heading-large"><%= t(".heading") %></h1>

    <div class="form-group <%= "form-group-error" if @renew_registration_form.errors[:temp_lookup_number].any? %>">
      <% if @renew_registration_form.errors[:temp_lookup_number].any? %>
        <span class="error-message"><%= @renew_registration_form.errors[:temp_lookup_number].join(", ") %></span>
      <% end %>

      <%= f.label :temp_lookup_number, class: "form-label" do %>
        <%= t(".temp_lookup_number_label") %>
        <span class="form-hint"><%= t(".temp_lookup_number_hint") %></span>
      <% end %>

      <%= f.text_field :temp_lookup_number, value: @renew_registration_form.temp_lookup_number, class: "form-control" %>
    </div>

    <div class="form-group">
      <details>
        <summary>
          <span class="summary"><%= t(".unknown_number.subheading") %></span>
        </summary>

        <div class="panel panel-border-narrow">
          <p>
            <%= t(".unknown_number.paragraph_1") %>
            <%= link_to t(".unknown_number.paragraph_1_link_text"), t(".unknown_number.paragraph_1_link_url") %>.
          </p>
          <p>
            <%= t(".unknown_number.paragraph_2") %>
            <%= mail_to t(".unknown_number.paragraph_2_email") %>.
          </p>
        </div>
      </details>
    </div>

    <div class="form-group">
      <%= f.submit t(".next_button"), class: "button" %>
    </div>
  <% end %>
</div>
