<!doctype html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8"> <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9"> <![endif]-->
<!--[if gt IE 9]>  <html> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Waste Carriers Service</title>
</head>

<body style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; margin: 0; color: #0b0c0c">
<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td width="100%" height="53px" bgcolor="#0b0c0c">
      <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
        <tr>
          <td width="100%" bgcolor="#0b0c0c" valign="middle">
            <%= email_image_tag("govuk_logotype_email.png", { alt: "GOV.UK", border: "0"}) %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
  <tr>
    <td width="100%">
      <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
        <tr>
          <td width="100%" class="header" style="padding-top: 10px;" colspan="2">
            <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
              <tr>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td width="75%" style="font-family: Helvetica, Arial, sans-serif;">
            <p style="font-weight: 400; font-size: 16px; line-height: 1; margin: 10px 0 10px 0;">&nbsp;</p>
          </td>
          <td width="25%">&nbsp;</td>
        </tr>
        <tr>
          <td bgcolor="#28A197" style="font-family: Helvetica, Arial, sans-serif; margin: 0 0 30px 0;">
            <p style="font-size: 36px; font-weight: bold; text-align: center; color: #ffffff; line-height: 1.315789474; margin: 30px 0px 15px 0px;">
              <% if @registration.lower_tier? %>
                <%= t(".section_1.reg_complete.lower") %>
              <% else %>
                <%= t(".section_1.reg_complete.upper.#{@registration.registration_type}") %>
              <% end %>
            </p>

            <p style="font-size: 19px; text-align: center; color: #ffffff; line-height: 1.315789474; margin: 0;">
              <%= t(".section_1.reg_complete_number") %>
            </p>

            <p style="font-size: 36px; font-weight: bold; text-align: center; color: #ffffff; line-height: 1.315789474; margin: 15px 0px 30px 0px;">
              <%= @registration.reg_identifier %>
            </p>
          </td>
          <td width="25%">&nbsp;</td>
        </tr>
        <tr>
          <td width="75%" style="font-family: Helvetica, Arial, sans-serif;">

            <p style="font-size: 19px; line-height: 1.315789474; margin: 30px 0 15px 0; font-weight: bold;">
              <%= t(".section_2.reg_certificate_info") %>
            </p>

            <p style="font-size: 19px; line-height: 1.315789474; margin: 30px 0 15px 0;">
              <%= @registration.first_name %>
            </p>

            <% if @registration.lower_tier? %>
              <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 15px 0;">
                <%= t(".section_3.lower.paragraph_1") %>
              </p>

              <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 15px 0;">
                <%= t(".section_3.lower.paragraph_2") %>
              </p>

              <ul>
                <li style="font-size: 16px; line-height: 1.125; margin: 0 0 15px 0;">
                  <%= t(".section_3.lower.list_1.item_1") %>
                </li>
                <li style="font-size: 16px; line-height: 1.125; margin: 0 0 30px 0;">
                  <%= t(".section_3.lower.list_1.item_2") %>
                </li>
              </ul>
            <% else %>
              <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
                <%= t(".section_3.upper.paragraph_1.#{@registration.registration_type}") %>
              </p>

              <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 15px 0;">
                <%= t(".section_3.upper.paragraph_2.#{@registration.registration_type}") %>
              </p>

              <ul>
                <li style="font-size: 16px; line-height: 1.125; margin: 0 0 15px 0;">
                  <%= t(".section_3.upper.list_1.item_1") %>
                </li>
                <li style="font-size: 16px; line-height: 1.125; margin: 0 0 45px 0;">
                  <%= t(".section_3.upper.list_1.item_2") %>
                </li>
              </ul>

              <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 15px 0;">
                <%= t(".section_3.upper.paragraph_3") %>
              </p>

              <ul>
                <li style="font-size: 16px; line-height: 1.125; margin: 0 0 15px 0;">
                  <%= t(".section_3.upper.list_2.item_1") %>
                </li>
                <li style="font-size: 16px; line-height: 1.125; margin: 0 0 15px 0;">
                  <%= t(".section_3.upper.list_2.item_2") %>
                </li>
                <li style="font-size: 16px; line-height: 1.125; margin: 0 0 15px 0;">
                  <%= t(".section_3.upper.list_2.item_3") %>
                </li>
                <li style="font-size: 16px; line-height: 1.125; margin: 0 0 45px 0;">
                  <%= t(".section_3.upper.list_2.item_4") %>
                </li>
              </ul>
            <% end %>

            <p style="font-size: 24px; font-weight: bold; line-height: 1.315789474; margin: 0 0 15px 0;">
              <%= t(".section_4.heading") %>
            </p>

            <p style="font-size: 19px; line-height: 1.315789474;margin: 0 0 15px 0;">
              <%= t(".section_4.paragraph_1") %>
            </p>

            <p style="font-size: 19px; line-height: 1.315789474; margin: 0;">
              <%= @registration.first_name %>&nbsp;<%= @registration.last_name %>
            </p>

            <p style="font-size: 19px; line-height: 1.315789474; margin: 0;">
              <%= @registration.registered_address.house_number %>
            </p>
            <p style="font-size: 19px; line-height: 1.315789474; margin: 0;">
              <%= @registration.registered_address.address_line_1 %>
            </p>
            <p style="font-size: 19px; line-height: 1.315789474; margin: 0;">
              <%= @registration.registered_address.address_line_2 %>
            </p>
            <p style="font-size: 19px; line-height: 1.315789474; margin: 0;">
              <%= @registration.registered_address.dependent_locality %>
            </p>
            <p style="font-size: 19px; line-height: 1.315789474; margin: 0;">
              <%= @registration.registered_address.town_city %>
            </p>
            <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 15px 0;">
              <%= @registration.registered_address.postcode %>
            </p>

            <p style="font-size: 19px; line-height: 1.315789474;margin: 0;">
              <%= t(".section_4.contact_number", number: @registration.phone_number) %>
            </p>

            <p style="font-size: 19px; line-height: 1.315789474;margin: 0 0 15px 0;">
              <%= t(".section_4.registered_on", date: @registration.metaData.date_registered) %>
            </p>

            <ul>
              <li style="font-size: 16px; color: #6f777b; line-height: 1.125; margin: 0 0 15px 0;">
                <%= t(".footer.item_1_html") %>
              </li>
              <li style="font-size: 16px; color: #6f777b; line-height: 1.125; margin: 0 0 30px 0;">
                <%= t(".footer.item_2") %>
              </li>
            </ul>

          </td>
          <td width="25%">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>

</body>
</html>
