<%= render("waste_carriers_engine/shared/back", back_path: new_user_session_path) %>

<h1 class="heading-large">Locked account</h1>

<p class="text">This account may be temporarily locked for your security.</p>

<p class="text">Tell us which email address was used to register and we’ll send unlock instructions.</p>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= render("waste_carriers_engine/shared/errors", object: resource) %>

  <div class="form-group">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Send unlock instructions", class: "button" %>
  </div>
<% end %>
