<%= render("waste_carriers_engine/shared/back", back_path: new_user_session_path) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Locked account</h1>

    <p class="govuk-body">This account may be temporarily locked for your security.</p>

    <p class="govuk-body">Tell us which email address was used to register and we’ll send unlock instructions.</p>

    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <div class="govuk-grid-row">
        <div class="govuk-form-group govuk-grid-column-one-half">
          <%= f.label :email, class: "govuk-label"%>
          <%= f.email_field :email, class: "govuk-input" %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit "Send unlock instructions", class: "govuk-button" %>
      </div>
    <% end %>
