<h1 class="heading-large"><%= t(".heading") %></h1>

<% if @transient_registration.temp_payment_method == "card" %>
  <%= render("shared/success", message: t(".payment_success_message_html", email: @transient_registration.contact_email)) %>
<% else %>
  <%= render("shared/message", message: t(".awaiting_payment_message_html", email: @transient_registration.contact_email)) %>
<% end %>

<div class="text">
  <div class="form-group">
    <table>
      <tr>
        <th><%= t(".details_table.cards_label") %></th>
        <td><%= @transient_registration.temp_cards %></td>
      </tr>
      <tr>
        <th><%= t(".details_table.total_cost") %></th>
        <td>£ <%= display_pence_as_pounds(@transient_registration.total_registration_card_charge) %></td>
      </tr>
      <tr>
        <th><%= t(".details_table.reference") %></th>
        <td><%= @transient_registration.reg_identifier %></td>
      </tr>
    </table>
  </div>
  <div class="form-group">
    <%= link_to t(".dashboard"), "/bo", class: "button" %>
    <%= link_to t(".details_page", reg_identifier: @transient_registration.reg_identifier), Rails.application.routes.url_helpers.registration_path(@transient_registration.reg_identifier), class: "button" %>
  </div>
</div>
