<%= render("shared/back", back_path: back_location_forms_path(@location_form.reg_identifier)) %>

<div class="text">
  <%= form_for(@location_form) do |f| %>
    <%= render("shared/errors", object: @location_form) %>

    <h1 class="heading-large"><%= t(".heading") %></h1>

    <div class="form-group">
      <details>
        <summary>
          <span class="summary"><%= t(".location_detail_subheading") %></span>
        </summary>
        <div class="panel panel-border-narrow">
          <p><%= t(".location_detail_paragraph") %></p>
        </div>
      </details>
    </div>

    <% if @location_form.errors[:location].any? %>
    <div class="form-group form-group-error">
    <% else %>
    <div class="form-group">
    <% end %>
      <fieldset id="location">
        <legend class="visuallyhidden">
          <%= t(".heading") %>
        </legend>

        <% if @location_form.errors[:location].any? %>
        <span class="error-message"><%= @location_form.errors[:location].join(", ") %></span>
        <% end %>

        <div class="multiple-choice">
          <%= f.radio_button :location, 'england' %>
          <%= f.label :location, t(".option_england"), value: 'england' %>
        </div>
        <div class="multiple-choice">
          <%= f.radio_button :location, 'northern_ireland' %>
          <%= f.label :location, t(".option_northern_ireland"), value: 'northern_ireland' %>
        </div>
        <div class="multiple-choice">
          <%= f.radio_button :location, 'scotland' %>
          <%= f.label :location, t(".option_scotland"), value: 'scotland' %>
        </div>
        <div class="multiple-choice">
          <%= f.radio_button :location, 'wales' %>
          <%= f.label :location, t(".option_wales"), value: 'wales' %>
        </div>
        <div class="multiple-choice">
          <%= f.radio_button :location, 'overseas' %>
          <%= f.label :location, t(".option_overseas"), value: 'overseas' %>
        </div>
      </fieldset>
    </div>

    <%= f.hidden_field :reg_identifier, value: @location_form.reg_identifier %>
    <div class="form-group">
      <%= f.submit t(".next_button"), class: "button" %>
    </div>
  <% end %>
</div>
