<%= render("waste_carriers_engine/shared/back", token: @contact_address_reuse_form.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @contact_address_reuse_form do |f| %>
      <%= render partial: "waste_carriers_engine/shared/error_summary", locals: { f: f } %>
      <%=
        f.govuk_collection_radio_buttons :temp_reuse_registered_address,
        [
          OpenStruct.new(
            id: "yes",
            name: t(".options.yes")
          ),
          OpenStruct.new(
            id: "no",
            name: t(".options.no")
          )
        ],
        :id,
        :name,
        inline: true,
        legend: { text: t(".heading"), size: "l", tag: "h1" } do %>
      <ul class="govuk-list">
        <% displayable_address(@transient_registration.registered_address).each do |line| %>
          <li><%= line %></li>
        <% end %>
      </ul>
      <% end %>
      <%= f.govuk_submit t(".next_button") %>
    <% end %>
  </div>
</div>
