<div class="text">
  <%= form_for(@start_form) do |f| %>
    <%= render("waste_carriers_engine/shared/errors", object: @start_form) %>

    <h1 class="heading-large"><%= t(".heading") %></h1>

    <div class="form-group <%= "form-group-error" if @start_form.errors[:temp_start_option].any? %>">
      <fieldset id="temp_start_option">
        <legend class="visuallyhidden">
          <%= t(".heading") %>
        </legend>

        <% if @start_form.errors[:temp_start_option].any? %>
          <span class="error-message"><%= @start_form.errors[:temp_start_option].join(", ") %></span>
        <% end %>

        <div class="multiple-choice">
          <%= f.radio_button :temp_start_option, WasteCarriersEngine::StartForm::NEW %>
          <%= f.label :temp_start_option, t(".options.new"), value: WasteCarriersEngine::StartForm::NEW %>
        </div>
        <div class="multiple-choice">
          <%= f.radio_button :temp_start_option, WasteCarriersEngine::StartForm::RENEW %>
          <%= f.label :temp_start_option, t(".options.renew"), value: WasteCarriersEngine::StartForm::RENEW %>
        </div>
      </fieldset>
    </div>

    <%= hidden_field_tag :token, @start_form.token %>

    <div class="form-group">
      <%= f.submit t(".next_button"), class: "button" %>
    </div>
  <% end %>
</div>
