<%= render("waste_carriers_engine/shared/back", back_path: new_user_session_path) %>

<h1 class="heading-large">Reset your password</h1>

<p class="text">Enter the email address associated with your account.</p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render("waste_carriers_engine/shared/errors", object: resource) %>

  <div class="form-group">
    <%= f.label :email, class: "form-label"%>
    <%= f.email_field :email, class: "form-control" %>
  </div>

<p class="form-hint">If you don’t know the email address belonging to your account, contact our helpline on 03708 506506.</p>

  <div class="actions">
    <%= f.submit "Reset password", class: "button" %>
  </div>
<% end %>
