<%= form_for(@registration) do |f| %>
  <%= render("shared/errors", object: @registration) %>

  <div class="form-group">
    <%= f.label :reg_identifier, class: "form-label" %>
    <%= f.text_field :reg_identifier, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :company_name, class: "form-label" %>
    <%= f.text_field :company_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Submit new registration", class: "button" %>
  </div>
<% end %>
