<%= form_for(@registration) do |f| %>
  <%= render("shared/errors", object: @registration) %>

  <div class="form-group">
    <%= f.label :regIdentifier, class: "form-label" %>
    <%= f.text_field :regIdentifier, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :companyName, class: "form-label" %>
    <%= f.text_field :companyName, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Submit new registration", class: "button" %>
  </div>
<% end %>
