<p id="notice"><%= notice %></p>

<h1 class="heading-large">Your registrations</h1>

<p>This is a temporary page for testing purposes only.</p>

<table>
  <thead>
    <tr>
      <th scope="col">Registration</th>
      <th scope="col">Company name</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td scope="row"><%= link_to registration.regIdentifier, new_renewal_start_form_path(registration[:reg_identifier]) %></td>
        <td><%= registration.companyName %></td>
        <td><%= registration.metaData.status %></td>
        <td><%= link_to "Renew", new_renewal_start_form_path(registration[:reg_identifier]), class: 'button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
