<p id="notice"><%= notice %></p>

<h1 class="heading-large">Listing Registrations</h1>

<%= link_to 'New Registration', new_registration_path, class: "button" %>

<table>
  <thead>
    <tr>
      <th scope="col">Reg identifier</th>
      <th scope="col">Company name</th>
      <th scope="col">Status</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td scope="row"><%= registration.regIdentifier %></td>
        <td><%= registration.companyName %></td>
        <td><%= registration.metaData.status %></td>
        <td><%= link_to 'Show', registration %></td>
        <td><%= link_to 'Edit', edit_registration_path(registration) %></td>
        <td><%= link_to 'Destroy', registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
