<%= render("shared/back", back_path: registrations_path) %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Reg identifier:</strong>
  <%= @registration.regIdentifier %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @registration.companyName %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration), class: "button" %>
