<% content_for :head do %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>

  <% if @transient_registration.present? %>
    <script>
      dataLayer = [{
        <%= data_layer(@transient_registration) %>
      }];
    </script>
  <% end %>

<% end %>

<% content_for :page_title, title %>

<% content_for :header_content do %>
  <%= link_to  :global_proposition_header, main_app.root_path, id: "proposition-name", class: "govuk-header__link govuk-header__link--service-name" %>
<% end %>

<% content_for :phase_banner do %>
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        <%= ".beta"  %>
      </strong>
      <span class="govuk-phase-banner__text">
      </span>
    </p>
  </div>
<% end %>

<% content_for :footer do %>
  <span class="govuk-visually-hidden"><%= ".support_text" %></span>
  <p class="govuk-!-font-weight-bold"><%= ".support_text" %></p>
  <ul class="govuk-footer__inline-list">
    <li class="govuk-footer__inline-list-item">
      <%= link_to "Privacy", "/fo/pages/privacy", class: "govuk-footer__link", target: "_blank" %>
    </li>
    <li class="govuk-footer__inline-list-item">
      <%= link_to "Cookies", "/fo/pages/cookies", class: "govuk-footer__link", target: "_blank" %>
    </li>
    <li class="govuk-footer__inline-list-item">
      <%= link_to "Accessibility", "/fo/pages/accessibility", class: "govuk-footer__link", target: "_blank" %>
    </li>
  </ul>
<% end %>

<%= render template: "layouts/defra_ruby_template" %>
