<% if form.errors[:first_name].any? %>
<div class="form-group form-group-error">
<% else %>
<div class="form-group">
<% end %>
  <fieldset id="first_name">
    <% if form.errors[:first_name].any? %>
    <span class="error-message"><%= form.errors[:first_name].join(", ") %></span>
    <% end %>

    <%= f.label :first_name, t(".first_name"), class: "form-label" %>
    <%= f.text_field :first_name, value: form.first_name, class: "form-control" %>
  </fieldset>
</div>

<% if form.errors[:last_name].any? %>
<div class="form-group form-group-error">
<% else %>
<div class="form-group">
<% end %>
  <fieldset id="last_name">
    <% if form.errors[:last_name].any? %>
    <span class="error-message"><%= form.errors[:last_name].join(", ") %></span>
    <% end %>

    <%= f.label :last_name, t(".last_name"), class: "form-label" %>
    <%= f.text_field :last_name, value: form.last_name, class: "form-control" %>
  </fieldset>
</div>
