<%= form_for(@edit_form) do |f| %>
  <%= render("waste_carriers_engine/shared/errors", object: @edit_form) %>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large"><%= t(".heading", reg_identifier: @edit_form.reg_identifier) %></h1>

      <p>
        <%= @presenter.created_at %>
      </p>
      <p>
        <span class="strong">
          <%= t(".edit_meta.warning") %>
        </span>
      </p>

      <%= render("waste_carriers_engine/shared/edit_actions", f: f) %>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <table class="edit_table">
        <caption>
          <h2 class="heading-medium"><%= t(".sections.registration_and_account.heading") %></h2>
        </caption>
        <tbody>
          <tr>
            <td class="label_column">
              <%= t(".sections.registration_and_account.labels.tier") %>
            </td>
            <td>
              <%= @presenter.tier %>
            </td>
            <td class="change_link_column">
              <%= t(".edit_links.no_edit") %>
            </td>
          </tr>
          <% if @presenter.registration_type.present? %>
            <tr>
              <td class="label_column">
                <%= t(".sections.registration_and_account.labels.registration_type") %>
              </td>
              <td>
                <%= @presenter.registration_type %>
              </td>
              <td class="change_link_column">
                <%= link_to "#" do %>
                  <%= t(".edit_links.fee") %>
                  <span class="visually-hidden">
                    <%= t(".edit_links.visually_hidden.registration_type") %>
                  </span>
                <% end %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td class="label_column">
              <%= t(".sections.registration_and_account.labels.account_email") %>
            </td>
            <td>
              <%= @presenter.account_email %>
            </td>
            <td class="change_link_column">
              <%= t(".edit_links.no_edit") %>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="edit_table">
        <caption>
          <h2 class="heading-medium"><%= t(".sections.business.heading") %></h2>
        </caption>
        <tbody>
          <tr>
            <td class="label_column">
              <%= t(".sections.business.labels.business_type") %>
            </td>
            <td>
              <%= @presenter.business_type %>
            </td>
            <td class="change_link_column">
              <%= t(".edit_links.no_edit") %>
            </td>
          </tr>
          <tr>
            <td class="label_column">
              <%= t(".sections.business.labels.company_name") %>
            </td>
            <td>
              <%= @presenter.company_name %>
            </td>
            <td class="change_link_column">
              <%= link_to "#" do %>
                <%= t(".edit_links.default") %>
                <span class="visually-hidden">
                  <%= t(".edit_links.visually_hidden.company_name") %>
                </span>
              <% end %>
            </td>
          </tr>
          <% if @presenter.company_no.present? %>
            <tr>
              <td class="label_column">
                <%= t(".sections.business.labels.company_no") %>
              </td>
              <td>
                <%= @presenter.company_no %>
              </td>
              <td class="change_link_column">
                <%= t(".edit_links.no_edit") %>
              </td>
            </tr>
          <% end %>
          <% if @presenter.main_people_with_roles.any? %>
            <tr>
              <td class="label_column">
                <%= t(".sections.business.labels.main_people") %>
              </td>
              <td>
                <% if @presenter.main_people_with_roles.count == 1 %>
                  <%= @presenter.main_people_with_roles.first %>
                <% else %>
                  <ul class="list list-bullet people_list">
                    <% @presenter.main_people_with_roles.each do |person| %>
                      <li>
                        <%= person %>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              </td>
              <td class="change_link_column">
                <%= link_to "#" do %>
                  <%= t(".edit_links.default") %>
                  <span class="visually-hidden">
                    <%= t(".edit_links.visually_hidden.main_people") %>
                  </span>
                <% end %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td class="label_column">
              <%= t(".sections.business.labels.registered_address") %>
            </td>
            <td>
              <ul>
                <% displayable_address(@presenter.registered_address).each do |line| %>
                  <li><%= line %></li>
                <% end %>
              </ul>
            </td>
            <td class="change_link_column">
              <%= link_to "#" do %>
                <%= t(".edit_links.default") %>
                <span class="visually-hidden">
                  <%= t(".edit_links.visually_hidden.registered_address") %>
                </span>
              <% end %>
            </td>
          </tr>
        </table>

      <table class="edit_table">
        <caption>
          <h2 class="heading-medium"><%= t(".sections.contact.heading") %></h2>
        </caption>
        <tbody>
          <tr>
            <td class="label_column">
              <%= t(".sections.contact.labels.contact_name") %>
            </td>
            <td>
              <%= @presenter.contact_name %>
            </td>
            <td class="change_link_column">
              <%= link_to "#" do %>
                <%= t(".edit_links.default") %>
                <span class="visually-hidden">
                  <%= t(".edit_links.visually_hidden.contact_name") %>
                </span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="label_column">
              <%= t(".sections.contact.labels.phone_number") %>
            </td>
            <td>
              <%= @presenter.phone_number %>
            </td>
            <td class="change_link_column">
              <%= link_to "#" do %>
                <%= t(".edit_links.default") %>
                <span class="visually-hidden">
                  <%= t(".edit_links.visually_hidden.phone_number") %>
                </span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="label_column">
              <%= t(".sections.contact.labels.contact_email") %>
            </td>
            <td>
              <%= @presenter.contact_email %>
            </td>
            <td class="change_link_column">
              <%= link_to "#" do %>
                <%= t(".edit_links.default") %>
                <span class="visually-hidden">
                  <%= t(".edit_links.visually_hidden.contact_email") %>
                </span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="label_column">
              <%= t(".sections.contact.labels.contact_address") %>
            </td>
            <td>
              <ul>
                <% displayable_address(@presenter.contact_address).each do |line| %>
                  <li><%= line %></li>
                <% end %>
              </ul>
            </td>
            <td class="change_link_column">
              <%= link_to "#" do %>
                <%= t(".edit_links.default") %>
                <span class="visually-hidden">
                  <%= t(".edit_links.visually_hidden.contact_address") %>
                </span>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="edit_table">
        <caption>
          <h2 class="heading-medium"><%= t(".sections.location.heading") %></h2>
        </caption>
        <tbody>
          <tr>
            <td class="label_column">
              <%= t(".sections.location.labels.location") %>
            </td>
            <td>
              <%= @presenter.location %>
            </td>
            <td class="change_link_column">
              <%= link_to "#" do %>
                <%= t(".edit_links.default") %>
                <span class="visually-hidden">
                  <%= t(".edit_links.visually_hidden.location") %>
                </span>
              <% end %>
            </td>
          </tr>
        </table>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <br>
      <%= render("waste_carriers_engine/shared/edit_actions", f: f) %>
    </div>
  </div>
<% end %>
