<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        <%= t(".heading") %>
      </h1>
      <div class="govuk-panel__body">
        <%= t(".highlight_text") %><br>
        <span id="reg_identifier"><strong><%= @registration.reg_identifier %></strong></span>
      </div>
    </div>

    <% if @registration.contact_email.present? %>
      <p class="govuk-body"><%= t(".paragraph_1", email: @registration.contact_email) %></p>
    <% end %>

    <% unless WasteCarriersEngine.configuration.host_is_back_office? %>
      <% if @registration.email_to_send_receipt.present? %>
        <p class="govuk-body"><%= t(".paragraph_2", email: @registration.email_to_send_receipt) %></p>
      <% end %>
    <% end %>

    <h2 class="govuk-heading-m"><%= t(".subheading_1") %></h2>
    <p class="govuk-body"><%= t(".paragraph_3") %></p>

    <div class="govuk-inset-text">
      <p class="govuk-body"><%= t(".paragraph_4") %></p>
    </div>

    <%= render "shared/contact_environment_agency" %>

    <%= render "shared/registration_checks" %>

    <%= render "shared/registration_finished_button" %>

    <%= render "shared/link_to_survey" %>
  </div>
</div>

