<%= render("waste_carriers_engine/shared/back", back_path: back_check_your_tier_forms_path(@check_your_tier.token)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @check_your_tier do |f| %>
      <%= render partial: "waste_carriers_engine/shared/error_summary", locals: { f: f } %>

      <%=
        f.govuk_collection_radio_buttons :temp_check_your_tier,
        [
          OpenStruct.new(
            id: 'unknown',
            name: t(".options.unknown")
          ),
          OpenStruct.new(
            id: 'upper',
            name: t(".options.upper")
          ),
          OpenStruct.new(
            id: 'lower',
            name: t(".options.lower")
          )
        ],
        :id,
        :name,
        legend: { text: t(".heading"), size: "l" },
        hint: { text: t(".paragraph") }
      %>
      <%= f.govuk_submit t(".next_button") %>
    <% end %>

    <p><%= render "shared/what_are_lower_and_upper_tier" %></p>
    <p class="govuk-hint"><%= t(".help") %></p>
  </div>
</div>

