<%= render("waste_carriers_engine/shared/back", back_path: back_cards_forms_path(@cards_form.token)) %>

<div class="text">
  <%= form_for(@cards_form) do |f| %>
    <%= render("waste_carriers_engine/shared/errors", object: @cards_form) %>

    <h1 class="heading-large"><%= t(".heading") %></h1>

    <div class="form-group">
      <p><%= t(".paragraph_1") %></p>
      <p><%= t(".paragraph_2", card_charge: display_pence_as_pounds(Rails.configuration.card_charge)) %></p>
      <%= image_tag "example_card.jpg", alt: t(".card_alt_text") %>
    </div>

    <div class="form-group <%= "form-group-error" if @cards_form.errors[:temp_cards].any? %>">
      <fieldset id="temp_cards">
        <% if @cards_form.errors[:temp_cards].any? %>
          <span class="error-message"><%= @cards_form.errors[:temp_cards].join(", ") %></span>
        <% end %>

        <%= f.label :temp_cards, t(".temp_cards_label"), class: "form-label" %>
        <%= f.number_field(
              :temp_cards,
              value: (@cards_form.temp_cards || 0),
              class: "form-control",
              min: 0,
              max: WasteCarriersEngine::CardsForm::MAX_TEMP_CARDS
            )
        %>
      </fieldset>
    </div>

    <div class="form-group">
      <%= f.submit t(".next_button"), class: "button" %>
    </div>
  <% end %>
</div>
