<%= render("waste_carriers_engine/shared/back", token: @cards_form.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(@cards_form, html: { novalidate: true }) do |f| %>
      <%= render partial: "waste_carriers_engine/shared/error_summary", locals: { f: f } %>

      <h1 class="govuk-heading-l"><%= t(".heading") %></h1>
      <p class="govuk-body"><%= t(".paragraph_1") %></p>
      <p class="govuk-body"><%= t(".paragraph_2", card_charge: display_pence_as_pounds(Rails.configuration.card_charge)) %></p>

      <p><%= image_tag "example_card.jpg", alt: t(".card_alt_text"), class: "card-image" %></p>

      <%= f.govuk_number_field :temp_cards,
          min: 0,
          max: WasteCarriersEngine::CardsForm::MAX_TEMP_CARDS,
          value: (@cards_form.temp_cards || 0),
          width: "one-quarter",
          label: {
            text: t(".temp_cards_label", card_charge: display_pence_as_pounds(Rails.configuration.card_charge))
          }
      %>

      <p class="govuk-body"><%= t(".paragraph_3") %></p>

      <%= f.govuk_submit t(".next_button"), class: "button" %>
    <% end %>
  </div>
</div>
