<% content_for :title, t(".title") %>
<div class="text">
  <h1 class="heading-large"><%= t(".heading_h1") %></h1>
  <p><%= t(".paragraph_1") %></p>
  <p><%= t(".paragraph_2") %></p>
  <h2 class="heading-medium"><%= t(".heading_h2") %></h2>
  <ol class="list list-number">
    <li><%= t(".list_item_1") %></li>
    <li><%= t(".list_item_2") %></li>
    <li><%= t(".list_item_3") %></li>
  </ol>
</div>
