<% content_for :title, t(".title", reg_identifier: @cannot_renew_company_no_change_form.reg_identifier).html_safe %>
<%= render("waste_carriers_engine/shared/back", back_path: back_cannot_renew_company_no_change_forms_path(@cannot_renew_company_no_change_form.token)) %>

<div class="govuk-body">
  <h1 class="govuk-heading-l"><%= t(".heading", reg_identifier: @cannot_renew_company_no_change_form.reg_identifier) %></h1>
  <p><%= t(".paragraph_1") %></p>
  <p><%= t(".paragraph_2", reg_identifier: @cannot_renew_company_no_change_form.reg_identifier) %></p>
  <p><%= t(".paragraph_3") %></p>
  <%= link_to t(".next_button"), start_forms_path, class: "govuk-button" %>
</div>
