<%= render("waste_carriers_engine/shared/back", back_path: back_construction_demolition_forms_path(@construction_demolition_form.reg_identifier)) %>

<div class="text">
  <%= form_for(@construction_demolition_form) do |f| %>
    <%= render("waste_carriers_engine/shared/errors", object: @construction_demolition_form) %>

    <h1 class="heading-large"><%= t(".heading") %></h1>

    <% if @construction_demolition_form.errors[:construction_waste].any? %>
    <div class="form-group form-group-error">
    <% else %>
    <div class="form-group">
    <% end %>
      <fieldset class="inline" id="construction_waste">
        <legend class="visuallyhidden">
          <%= t(".heading") %>
        </legend>

        <% if @construction_demolition_form.errors[:construction_waste].any? %>
        <span class="error-message"><%= @construction_demolition_form.errors[:construction_waste].join(", ") %></span>
        <% end %>

        <div class="multiple-choice">
          <%= f.radio_button :construction_waste, "yes" %>
          <%= f.label :construction_waste, t(".options.yes"), value: "yes" %>
        </div>
        <div class="multiple-choice">
          <%= f.radio_button :construction_waste, "no" %>
          <%= f.label :construction_waste, t(".options.no"), value: "no" %>
        </div>
      </fieldset>
    </div>

    <div class="form-group">
      <details>
        <summary>
          <span class="summary"><%= t(".waste_detail_subheading") %></span>
        </summary>
        <div class="panel panel-border-narrow">
          <p><%= t(".waste_detail_paragraph_1") %></p>
          <p><%= t(".waste_detail_paragraph_2") %></p>
        </div>
      </details>
    </div>

    <%= f.hidden_field :reg_identifier, value: @construction_demolition_form.reg_identifier %>
    <div class="form-group">
      <%= f.submit t(".next_button"), class: "button" %>
    </div>
  <% end %>
</div>
