<div class="column-two-thirds">
  <% if @renewal_received_pending_worldpay_payment_form.errors.any? %>

    <h1 class="govuk-heading-l"><%= t(".error_heading") %></h1>

    <ul class="govuk-list">
      <% @renewal_received_pending_worldpay_payment_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

  <% else %>
    <%= form_for(@renewal_received_pending_worldpay_payment_form) do |f| %>
      <%= render partial: "waste_carriers_engine/shared/error_summary", locals: { f: f } %>

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          <%= t(".heading") %>
        </h1>
        <div class="govuk-panel__body">
          <%= t(".highlight_text") %><br>
          <strong><%= @renewal_received_pending_worldpay_payment_form.reg_identifier %></strong>
        </div>
      </div>

      <h2 class="govuk-heading-m"><%= t(".subheading") %></h2>

      <p class="govuk-body"><%= t(".paragraph_1",
               email: @renewal_received_pending_worldpay_payment_form.transient_registration.contact_email) %></p>

      <p class="govuk-body"><%= t(".paragraph_2") %></p>

      <% unless WasteCarriersEngine.configuration.host_is_back_office? %>
        <p class="govuk-body"><%= t(".paragraph_3", email: @renewal_received_pending_worldpay_payment_form.transient_registration.email_to_send_receipt) %></p>
      <% end %>

      <div class="govuk-inset-text">
        <p class="govuk-body"><%= t(".paragraph_4") %></p>
      </div>

      <%= render "shared/contact_environment_agency" %>

      <%= render "shared/registration_checks" %>

      <%= render "shared/link_to_survey" %>

      <%= render "shared/registration_finished_button" %>
    <% end %>

  <% end %>
</div>
