<%= render("shared/back", back_path: back_company_address_forms_path(@company_address_form.reg_identifier)) %>

<div class="text">
  <%= form_for(@company_address_form) do |f| %>
    <%= render("shared/errors", object: @company_address_form) %>

    <h1 class="heading-large"><%= t(".heading_#{@company_address_form.business_type}") %></h1>

    <div class="form-group">
      <label class="form-label"><%= t(".postcode_label") %></label>
      <span><%= @company_address_form.temp_postcode %></span>
      <%= link_to(t(".postcode_change_link"), back_company_address_forms_path(@company_address_form.reg_identifier)) %>
    </div>

    <% if @company_address_form.errors[:addresses].any? %>
    <div class="form-group form-group-error">
    <% else %>
    <div class="form-group">
    <% end %>
      <fieldset id="addresses">
        <%= f.label :temp_address, t(".address_label"), class: "form-label" %>
        <%= f.select(:temp_address,
                     options_for_select(@company_address_form.temp_addresses.map { |a| [a["partial"], a["uprn"]] }, @company_address_form.temp_address),
                     { include_blank: t(".address_blank_option", count: @company_address_form.temp_addresses.length ) },
                     { class: "form-control" }) %>
      </fieldset>
    </div>

    <div class="form-group">
      <a href="#"><%= t(".manual_address_link") %></a>
    </div>

    <%= f.hidden_field :reg_identifier, value: @company_address_form.reg_identifier %>
    <div class="form-group">
      <%= f.submit t(".next_button"), class: "button" %>
    </div>
  <% end %>

  <%= render("shared/os_terms_footer") %>
</div>
