<%= render("waste_carriers_engine/shared/back", token: @check_registered_company_name_form.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t(".heading") %>
    </h1>
    
    <%= form_for @check_registered_company_name_form do |f| %>
      <%= render partial: "waste_carriers_engine/shared/error_summary", locals: { f: f } %>

        <%= 
          f.govuk_collection_radio_buttons :temp_use_registered_company_details,
          [
            OpenStruct.new(
                     id: "yes",
                     name: t(".options.yes")
                   ),
            OpenStruct.new(
                      id: "no",
                      name: t(".options.no")
            )
          ],
          :id,
          :name,
          inline: true,
          legend: -> do %>

            <h2 class="govuk-heading-m">
              <%= t(".company_number", company_no: @check_registered_company_name_form.company_no) %>
            </h2> 
            <h2 class="govuk-heading-m">
              <%= @check_registered_company_name_form.registered_company_name %>
            </h2>
            <p class="govuk-body">
              <% @check_registered_company_name_form.registered_office_address_lines.each do |line| %>
                <%= line %> <br>
              <% end %>
            </p>

        <% end %>
      <%= f.govuk_submit t(".next_button") %>
    <% end %>

    <p class="govuk-body">
      <% if @transient_registration.is_a?(WasteCarriersEngine::NewRegistration) %>
        <%= link_to t(".enter_a_different_number"), new_registration_number_form_path %>
      <% else %>
        <%= t(".must_create_new_registration") %>
      <% end %>
    </p>
  </div>
</div>
