<div class="column-two-thirds">
<% if @renewal_received_form.errors.any? %>

  <h1 class="heading-large"><%= t(".error_heading") %></h1>

  <% @renewal_received_form.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>

<% else %>

  <%= form_for(@renewal_received_form) do |f| %>
    <%= render("shared/errors", object: @renewal_received_form) %>

    <div class="govuk-box-highlight">
      <h1 class="heading-xlarge"><%= t(".heading") %></h1>
      <p class="font-large"><%= t(".highlight_text") %><br><span class="strong"><%= @renewal_received_form.reg_identifier %></span></p>
    </div>

    <p><%= t(".paragraph_1", email: @renewal_received_form.contact_email) %></p>

    <% if @renewal_received_form.pending_payment %>
    <h2 class="heading-medium"><%= t(".awaiting_payment_subheading") %></h2>
    <p><%= t(".awaiting_payment_paragraph_1") %></p>
    <p><%= t(".awaiting_payment_paragraph_2") %></p>
    <% end %>

    <% if @renewal_received_form.pending_convictions_check %>
    <h2 class="heading-medium"><%= t(".conviction_check_subheading") %></h2>
    <p><%= t(".conviction_check_paragraph_1") %></p>
    <% end %>

    <p><%= t(".paragraph_2") %></p>

    <div class="panel panel-border-wide">
      <p><%= t(".paragraph_3") %></p>
    </div>

    <p><%= link_to(t(".survey_link_text"), t("layouts.application.feedback_url")) %> <%= t(".survey_link_hint") %></p>

    <%= f.hidden_field :reg_identifier, value: @renewal_received_form.reg_identifier %>
    <%= link_to t(".next_button"), @renewal_received_form.dashboard_link(current_user), class: 'button' %>
  <% end %>

<% end %>
</div>
