<%= render("shared/back", back_path: back_conviction_details_forms_path(@conviction_details_form.reg_identifier)) %>

<% if @conviction_details_form.errors.any? %>

  <h1 class="heading-large"><%= t(".error_heading") %></h1>

  <% @conviction_details_form.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>

<% else %>

  <%= form_for(@conviction_details_form) do |f| %>
    <%= render("shared/errors", object: @conviction_details_form) %>

    <h1 class="heading-large"><%= t(".heading") %></h1>

    <%= f.hidden_field :reg_identifier, value: @conviction_details_form.reg_identifier %>
    <div class="form-group">
      <%= f.submit t(".next_button"), class: "button" %>
    </div>
  <% end %>

<% end %>
