<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

    <%
      if flash[:alert].present?
        resource.errors.add(:email, flash[:alert])
      end
    %>
    
    <% if notice %>
      <div class="govuk-error-summary" role="alert">
        <p class="govuk-body"><%= notice %></p>
      </div>
    <% end %>

    <%= form_for(
        resource,
        as: resource_name,
        url: session_path(resource_name),
        builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |f| %>
      <%= render partial: "waste_carriers_engine/shared/error_summary", locals: { f: f } %>

      <%= f.govuk_text_field :email, autocomplete: "off", autofocus: true, width: "one-half" %>
      <%= f.govuk_password_field :password, width: "one-half", autocomplete: "off" %>

      <%= f.submit t(".submit"), class: "govuk-button" %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
