<%= render("waste_carriers_engine/shared/back", back_path: back_register_in_wales_forms_path(@register_in_wales_form.reg_identifier)) %>

<div class="text">
  <%= form_for(@register_in_wales_form) do |f| %>
    <%= render("waste_carriers_engine/shared/errors", object: @register_in_wales_form) %>

    <h1 class="heading-large"><%= t(".heading") %></h1>

    <div class="form-group">
      <p><%= t(".paragraph_1") %></p>
      <p><%= t(".paragraph_2") %> <a href="https://www.gov.uk/register-as-a-waste-carrier-broker-or-dealer-wales"><%= t(".service_link") %></a>.</p>
      <p><%= t(".paragraph_3") %></p>
    </div>

    <%= f.hidden_field :reg_identifier, value: @register_in_wales_form.reg_identifier %>
    <div class="form-group">
      <%= f.submit t(".next_button"), class: "button" %>
    </div>
  <% end %>
</div>
