<%= render("waste_carriers_engine/shared/back", back_path: back_confirm_bank_transfer_forms_path(@confirm_bank_transfer_form.token)) %>

<div class="text">
  <%= form_for(@confirm_bank_transfer_form) do |f| %>
    <h1 class="heading-large"><%= t(".heading") %></h1>

    <p>
      <%= t(".paragraphs.instructions") %>
    </p>

    <% unless WasteCarriersEngine.configuration.host_is_back_office? %>
      <p>
        <%= t(".paragraphs.payment_confirmation") %>
      </p>

      <p>
        <%= t(".paragraphs.instant_confirmation") %>
      </p>
    <% end %>

    <p>
      <%= link_to(t(".link_text"),
                  back_confirm_bank_transfer_forms_path(@confirm_bank_transfer_form.token)) %>
    </p>

    <div class="form-group">
      <%= f.submit t(".next_button"), class: "button" %>
    </div>
  <% end %>
</div>
