<%= render("waste_carriers_engine/shared/back", back_path: back_location_forms_path(@location_form.token)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @location_form do |f| %>
      <%= render partial: "waste_carriers_engine/shared/error_summary", locals: { f: f } %>
      <%=
        f.govuk_collection_radio_buttons :location,
        [
          OpenStruct.new(
            id: 'england',
            name: t(".options.england")
          ),
          OpenStruct.new(
            id: 'wales',
            name: t(".options.wales")
          ),
          OpenStruct.new(
            id: 'scotland',
            name: t(".options.scotland")
          ),
          OpenStruct.new(
            id: 'northern_ireland',
            name: t(".options.northern_ireland")
          ),
          OpenStruct.new(
            id: 'overseas',
            name: t(".options.overseas")
          )
        ],
        :id,
        :name,
        legend: { text: t(".location_detail_subheading"), size: "l", tag: "h1" },
        hint: -> do %>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                <%= t(".location_detail_subheading") %>
              </span>
            </summary>
            <div class="govuk-details__text">
              <%= t(".location_detail_paragraph") %>
            </div>
          </details>
        <% end %>
      <%= f.govuk_submit t(".next_button") %>
    <% end %>
  </div>
</div>

