<%= render("waste_carriers_engine/shared/back", back_path: back_cbd_type_forms_path(@cbd_type_form.token)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @cbd_type_form do |f| %>
      <%= render partial: "waste_carriers_engine/shared/error_summary", locals: { f: f } %>

      <%= f.govuk_radio_buttons_fieldset :registration_type,
          legend: { text: t(".heading"), size: "l", tag: "h1" } do %>
        <%= f.govuk_radio_button :registration_type,
            "carrier_dealer", label: { text: t(".options.carrier_dealer") }, link_errors: true %>
        <%= f.govuk_radio_button :registration_type,
            "broker_dealer", label: { text: t(".options.broker_dealer") } %>
        <%= f.govuk_radio_divider %>
        <%= f.govuk_radio_button :registration_type,
            "carrier_broker_dealer", label: { text: t(".options.carrier_broker_dealer") } %>
      <% end %>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            <%= t(".cbd_detail_subheading") %>
          </span>
        </summary>
        <div class="govuk-details__text">
          <p><%= t(".cbd_detail_paragraph_1") %></p>
          <ul class="govuk-list govuk-list--bullet">
            <li><%= t(".cbd_detail_list_item_1") %></li>
            <li><%= t(".cbd_detail_list_item_2") %></li>
            <li><%= t(".cbd_detail_list_item_3") %></li>
          </ul>
          <p><%= t(".cbd_detail_paragraph_2") %></p>
        </div>
      </details>

      <%= f.govuk_submit t(".next_button") %>
    <% end %>
  </div>
</div>
