<%= render("waste_carriers_engine/shared/back", back_path: back_edit_bank_transfer_forms_path(@edit_bank_transfer_form.token)) %>

<div class="text">
  <%= form_for(@edit_bank_transfer_form) do |f| %>
    <%= render("waste_carriers_engine/shared/errors", object: @edit_bank_transfer_form) %>

    <h1 class="heading-large"><%= t(".heading") %></h1>

    <%= render("waste_carriers_engine/shared/bank_transfer_details",
        reg_identifier: @edit_bank_transfer_form.reg_identifier,
        payment_due: @edit_bank_transfer_form.transient_registration.finance_details.balance) %>

    <div class="form-group">
      <%= f.submit t(".next_button"), class: "button" %>
    </div>
  <% end %>
</div>
