<%= render("shared/back", back_path: back_contact_address_forms_path(@contact_address_form.reg_identifier)) %>

<div class="text">
  <%= form_for(@contact_address_form) do |f| %>
    <%= render("shared/errors", object: @contact_address_form) %>

    <h1 class="heading-large"><%= t(".heading") %></h1>

    <div class="form-group">
      <label class="form-label"><%= t(".postcode_label") %></label>
      <span class="postcode"><%= @contact_address_form.temp_contact_postcode %></span>
      <%= link_to(t(".postcode_change_link"), back_contact_address_forms_path(@contact_address_form.reg_identifier)) %>
    </div>

    <%= render("shared/select_address", form: @contact_address_form, f: f) %>

    <div class="form-group">
      <%= link_to(t(".manual_address_link"), skip_to_manual_address_contact_address_forms_path(@contact_address_form.reg_identifier)) %>
    </div>

    <%= f.hidden_field :reg_identifier, value: @contact_address_form.reg_identifier %>
    <div class="form-group">
      <%= f.submit t(".next_button"), class: "button" %>
    </div>
  <% end %>

  <%= render("shared/os_terms_footer") %>
</div>
