<%= render("waste_carriers_engine/shared/back", token: @contact_postcode_form.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @contact_postcode_form do |f| %>
      <%= render partial: "waste_carriers_engine/shared/error_summary", locals: { f: f } %>
      <h1 class="govuk-heading-l">
        <%= t(".heading") %>
      </h1>
      <legend class="govuk-visually-hidden">
        <%= t(".heading") %>
      </legend>

      <p class="govuk-body">
        <%= t(".detail_paragraph") %>
      </p>

      <%= f.govuk_text_field :temp_contact_postcode,
          width: "one-half",
          label: {
            text: t(".temp_contact_postcode_label")
          },
          hint: {
            text: t(".temp_contact_postcode_hint")
          },
          autocomplete: "postal-code" %>
      <%= f.govuk_submit t(".next_button") %>
    <% end %>

    <% if @contact_postcode_form.errors.added?(:temp_contact_postcode, :no_results) %>
      <div class="govuk-body">
        <%= link_to(t(".manual_address_link"), skip_to_manual_address_contact_postcode_forms_path(@contact_postcode_form.token)) %>
      </div>
    <% end %>

    <%= render("waste_carriers_engine/shared/os_terms_footer") %>
  </div>
</div>
