<% unless WasteCarriersEngine.configuration.host_is_back_office? %>
  <% content_for :page_scripts do %>
    <%= javascript_include_tag "receipt_email" %>
  <% end %>
<% end %>

<%= render("waste_carriers_engine/shared/back", back_path: back_payment_summary_forms_path(@payment_summary_form.token)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_for(@payment_summary_form) do |f| %>
      <%= render("waste_carriers_engine/shared/payment_errors") %>

      <%= render partial: "waste_carriers_engine/shared/error_summary", locals: { f: f } %>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--l">
          <%= t(".heading") %>
        </caption>

        <tbody class="govuk-table__body">
          <% if @presenter.renewal? %>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><%= t(".renewal_fee") %></th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£<%= display_pence_as_pounds(Rails.configuration.renewal_charge) %></td>
            </tr>

            <% if @transient_registration.registration_type_changed? %>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><%= t(".cbd_fee") %></th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£<%= display_pence_as_pounds(Rails.configuration.type_change_charge) %></td>
              </tr>
            <% end %>
          <% else %>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><%= t(".registration_fee") %></th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£<%= display_pence_as_pounds(Rails.configuration.new_registration_charge) %></td>
            </tr>
          <% end %>
          <% if @payment_summary_form.registration_cards > 0 %>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><%= t(".cards_fee", count: @payment_summary_form.registration_cards) %></th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£<%= display_pence_as_pounds(@payment_summary_form.registration_card_charge) %></td>
            </tr>
          <% end %>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><strong><%= t(".total_fee") %></strong></th>
            <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£<%= display_pence_as_pounds(@payment_summary_form.total_charge) %></strong></td>
          </tr>
        </tbody>
      </table>

      <p class="govuk-body-s"><%= t(".vat_statement") %></p>

      <div class="govuk-form-group <%= "govuk-form-group--error" if @payment_summary_form.errors[:temp_payment_method].any? %>">
        <% if @payment_summary_form.errors[:temp_payment_method].any? %>
          <span class="govuk-error-message"><%= @payment_summary_form.errors[:temp_payment_method].join(", ") %></span>
        <% end %>

        <%= f.govuk_radio_buttons_fieldset :temp_payment_method,
            legend: {
              text: t(".make_payment_subheading"),
              size: "m",
              tag: "h2"
            } do %>
            <%= f.govuk_radio_button :temp_payment_method,
                :card,
                label: {
                  text: t(".options.card.label")
                },
                hint: {
                  text: t(".options.card.hint")
                } do %>

              <% unless WasteCarriersEngine.configuration.host_is_back_office? %>
                <%= f.govuk_text_field :card_confirmation_email,
                    label:  {
                      text: t(".payment_confirmation.label")
                    },
                    value: @payment_summary_form.card_confirmation_email,
                    width: "one-half" %>
              <% end %>
            <% end %>

          <%= f.govuk_radio_button :temp_payment_method,
              :bank_transfer,
              label: {
                text: t(".options.bank_transfer.label")
              },
              hint: {
                text: t(".options.bank_transfer.hint")
              } %>
        <% end %>
      </div>

      <%= f.govuk_submit t(".next_button") %>
    <% end %>
  </div>
</div>
