<div class="form-group">
  <table aria-describedby="uk_payment_legend">
    <legend id="uk_payment_legend">
      <h2 class="heading-medium">
        <%= t(".uk_payment_table.heading") %>
      </h2>
    </legend>

    <tbody>
      <tr>
        <th scope="row"><%= t(".uk_payment_table.sort_code.label") %></th>
        <td><%= t(".uk_payment_table.sort_code.value") %></td>
      </tr>
      <tr>
        <th scope="row"><%= t(".uk_payment_table.account_number.label") %></th>
        <td><%= t(".uk_payment_table.account_number.value") %></td>
      </tr>
      <tr>
        <th scope="row">
          <%= t(".uk_payment_table.reference_number.label") %>
          <span class="form-hint"><%= t(".uk_payment_table.reference_number.hint") %></span>
        </th>
        <td><%= reg_identifier %></td>
      </tr>
      <tr>
        <th scope="row"><%= t(".uk_payment_table.payment_due.label") %></th>
        <td>£<%= display_pence_as_pounds(payment_due) %></td>
      </tr>
    </tbody>
  </table>
</div>

<details>
  <summary>
    <%= t(".overseas_payments.heading") %>
  </summary>
  <div class="panel">
    <%= t(".overseas_payments.iban") %><br/><br/>
    <%= t(".overseas_payments.swiftbic") %><br/><br/>
    <%= t(".overseas_payments.currency") %>
  </div>
</details>

<div class="form-group">
  <table aria-describedby="confirmation_legend">
    <legend id="confirmation_legend">
      <h2 class="heading-medium">
        <%= t(".send_confirmation.heading", reg_identifier: reg_identifier) %>
      </h2>
    </legend>

    <tbody>
      <tr>
        <th scope="row"><%= t(".send_confirmation.email_us.label") %></th>
        <td><%= t(".send_confirmation.email_us.value") %></td>
      </tr>
      <tr>
        <th scope="row"><%= t(".send_confirmation.payment_reference.label") %></th>
        <td><%= reg_identifier %></td>
      </tr>
    </tbody>
  </table>
</div>
