<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      <%= t(".heading") %>
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>
      <strong><%= t(".subject_label") %></strong>
      <br>
      <%= t(".subject", reg_identifier: reg_identifier) %>
    </p>
    <p>
      <strong><%= t(".body_label") %></strong>
      <br>
      <%= t(".body_1", reg_identifier: reg_identifier) %>
      <br>
      <%= t(".body_2") %>
      <br>
      <%= t(".body_3", amount: display_pence_as_pounds(amount)) %>
    </p>
  </div>
</details>
