<div class="govuk-form-group <%= "govuk-form-group--error" if form.errors[:dob].any? %>">

  <% if form.errors[:dob].any? %>
    <span class="govuk-error-message"><%= form.errors[:dob].join(". ") %></span>
  <% end %>

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    <%= t(".dob") %>
  </legend>
  <div class="govuk-hint" id="person-date-of-birth-hint">
    <%= t(".dob_hint") %>
  </div>

  <div class="govuk-date-input__item">
    <%= f.govuk_number_field :dob_day,
        width: 2,
        label: { text: t(".dob_day") },
        autocomplete: "bday-day"
    %>
  </div>
  <div class="govuk-date-input__item">
       <%= f.govuk_number_field :dob_month,
        width: 2,
        label: { text: t(".dob_month") },
        autocomplete: "bday-month"
    %>
  </div>
  <div class="govuk-date-input__item">
     <%= f.govuk_number_field :dob_year,
        width: 4,
        label: { text: t(".dob_year") },
        autocomplete: "bday-year"
    %>
  </div>
</div>
