<% if form.errors[:dob].any? %>
<div class="form-group form-group-error">
<% else %>
<div class="form-group">
<% end %>
  <fieldset id="dob">
    <% if form.errors[:dob].any? %>
      <span class="error-message"><%= form.errors[:dob].join(". ") %></span>
    <% end %>

    <legend>
      <%= t(".dob") %>
      <span class="form-hint"><%= t(".dob_hint") %></span>
    </legend>

    <fieldset id="dob_day" class="inline-date">
      <%= f.label :dob_day, t(".dob_day"), class: "form-label" %>
      <%= f.text_field :dob_day, value: form.dob_day, class: "form-control" %>
    </fieldset>

    <fieldset id="dob_month" class="inline-date">
      <%= f.label :dob_month, t(".dob_month"), class: "form-label" %>
      <%= f.text_field :dob_month, value: form.dob_month, class: "form-control" %>
    </fieldset>

    <fieldset id="dob_year" class="inline-date">
      <%= f.label :dob_year, t(".dob_year"), class: "form-label" %>
      <%= f.text_field :dob_year, value: form.dob_year, class: "form-control" %>
    </fieldset>

  </fieldset>
</div>
