<div class="govuk-form-group <%= "govuk-form-group--error" if form.errors[:house_number].any? %>">
  <% if form.errors[:house_number].any? %>
    <span class="govuk-error-message"><%= form.errors[:house_number].join(", ") %></span>
  <% end %>

  <%= f.govuk_text_field :house_number,
      label: { text: t(".house_number_label") },
      hint: { text: t(".house_number_hint") },
      width: "one-half",
      value: form.house_number
  %>
</div>

<div class="govuk-form-group <%= "govuk-form-group--error" if form.errors[:address_line_1].any? %>">
  <% if form.errors[:address_line_1].any? %>
    <span class="govuk-error-message"><%= form.errors[:address_line_1].join(", ") %></span>
  <% end %>

  <%= f.govuk_text_field :address_line_1,
    label: { text: t(".address_line_1_label") },
    width: "one-half",
    value: form.address_line_1,
    autocomplete: "address-line1"
  %>
</div>

<div class="govuk-form-group">
  <%= f.govuk_text_field :address_line_2,
    label: { text: t(".address_line_2_label") },
    width: "one-half",
    value: form.address_line_2,
    autocomplete: "address-line2"
  %>
</div>

<div class="govuk-form-group <%= "govuk-form-group--error" if form.errors[:town_city].any? %>">
  <% if form.errors[:town_city].any? %>
    <span class="govuk-error-message"><%= form.errors[:town_city].join(", ") %></span>
  <% end %>

  <%= f.govuk_text_field :town_city,
    label: { text: t(".town_city_label") },
    width: "one-half",
    value: form.town_city,
    autocomplete: "address-level2"
  %>
</div>

<% if overseas %>
  <div class="govuk-form-group <%= "govuk-form-group--error" if form.errors[:postcode].any? %>">
    <% if form.errors[:postcode].any? %>
      <span class="govuk-error-message"><%= form.errors[:postcode].join(", ") %></span>
    <% end %>

    <%= f.govuk_text_field :postcode,
      label: { text: t(".postcode_label") },
      width: "one-half",
      value: form.postcode,
      autocomplete: "postal-code"
    %>
  </div>

  <div class="govuk-form-group <%= "govuk-form-group--error" if form.errors[:country].any? %>">
    <% if form.errors[:country].any? %>
      <span class="govuk-error-message"><%= form.errors[:country].join(", ") %></span>
    <% end %>

    <%= f.govuk_text_field :country,
      label: { text: t(".country_label") },
      width: "one-half",
      value: form.country,
      autocomplete: "country-name"
    %>
  </div>
<% else %>
  <%= f.hidden_field :postcode, value: form.postcode %>
<% end %>
