<% unless overseas %>
  <div class="form-group">
    <label class="form-label"><%= t(".preset_postcode_label") %></label>
    <span class="postcode"><%= form.postcode %></span>
    <%= link_to(t(".postcode_change_link"), back_contact_address_manual_forms_path(form.reg_identifier)) %>
  </div>
<% end %>

<div class="form-group <%= "form-group-error" if form.errors[:house_number].any? %>">
  <fieldset id="house_number">
    <% if form.errors[:house_number].any? %>
      <span class="error-message"><%= form.errors[:house_number].join(", ") %></span>
    <% end %>

    <%= f.label :house_number, class: "form-label" do %>
      <%= t(".house_number_label") %>
      <span class='form-hint'><%= t(".house_number_hint") %></span>
    <% end %>
    <
    %= f.text_field :house_number, value: form.house_number, class: "form-control" %>
  </fieldset>
</div>

<div class="form-group <%= "form-group-error" if form.errors[:address_line_1].any? %>">
  <fieldset id="address_line_1">
    <% if form.errors[:address_line_1].any? %>
      <span class="error-message"><%= form.errors[:address_line_1].join(", ") %></span>
    <% end %>

    <%= f.label :address_line_1, t(".address_line_1_label"), class: "form-label" %>
    <%= f.text_field :address_line_1, value: form.address_line_1, class: "form-control" %>
  </fieldset>
</div>

<div class="form-group <%= "form-group-error" if form.errors[:address_line_2].any? %>">
  <fieldset id="address_line_2">
    <% if form.errors[:address_line_2].any? %>
      <span class="error-message"><%= form.errors[:address_line_2].join(", ") %></span>
    <% end %>

    <%= f.label :address_line_2, t(".address_line_2_label"), class: "form-label" %>
    <%= f.text_field :address_line_2, value: form.address_line_2, class: "form-control" %>
  </fieldset>
</div>

<div class="form-group <%= "form-group-error" if form.errors[:town_city].any? %>">
  <fieldset id="town_city">
    <% if form.errors[:town_city].any? %>
      <span class="error-message"><%= form.errors[:town_city].join(", ") %></span>
    <% end %>

    <%= f.label :town_city, t(".town_city_label"), class: "form-label" %>
    <%= f.text_field :town_city, value: form.town_city, class: "form-control" %>
  </fieldset>
</div>

<% if overseas %>
  <div class="form-group <%= "form-group-error" if form.errors[:postcode].any? %>">
    <fieldset id="postcode">
      <% if form.errors[:postcode].any? %>
        <span class="error-message"><%= form.errors[:postcode].join(", ") %></span>
      <% end %>

      <%= f.label :postcode, t(".postcode_label"), class: "form-label" %>
      <%= f.text_field :postcode, value: form.postcode, class: "form-control" %>
    </fieldset>
  </div>

  <div class="form-group <%= "form-group-error" if form.errors[:country].any? %>">
    <fieldset id="country">
      <% if form.errors[:country].any? %>
        <span class="error-message"><%= form.errors[:country].join(", ") %></span>
      <% end %>

      <%= f.label :country, t(".country_label"), class: "form-label" %>
      <%= f.text_field :country, value: form.country, class: "form-control" %>
    </fieldset>
  </div>
<% else %>
  <%= f.hidden_field :postcode, value: form.postcode %>
<% end %>
