<div class="form-group">
  <table aria-describedby="order_and_total_legend">
    <legend id="order_and_total_legend" class="visually-hidden">
      <%= t(".legend") %>
    </legend>
    <tbody>
      <% presenter.order_items.each do |item| %>
        <tr>
          <td><%= item[:description] %></td>
          <td>£<%= display_pence_as_pounds(item[:amount]) %></td>
        </tr>
      <% end %>
      <tr>
        <th scope="row">
          <span class="strong">
            <%= t(".total_cost") %>
          </span>
        </th>
        <td><span class="strong">£<%= display_pence_as_pounds(presenter.total_cost) %></span></td>
      </tr>
    </tbody>
  </table>
</div>
