<%= render("waste_carriers_engine/shared/back", token: @transient_registration.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(@copy_cards_payment_form) do |f| %>
      <% if flash[:error].present? %>
        <div class="govuk-error-summary" role="alert">
          <h2 class="govuk-heading-m"><%= t(".payment_error_heading") %></h2>

          <ul class="govuk-list">
            <li><%= flash[:error] %></li>
          </ul>
        </div>
      <% end %>

      <%= render partial: "waste_carriers_engine/shared/error_summary", locals: { f: f } %>

      <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

      <table class="govuk-table" aria-label="<%= t(".heading") %>">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">
              <%= t(".total_cost", count: @transient_registration.temp_cards) %>
            </th>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <strong>
              £<%= display_pence_as_pounds(@transient_registration.total_registration_card_charge) %>
            </strong>
            </td>
          </tr>
        </tbody>
      </table>

      <p class="govuk-body"><%= t(".vat_message") %></p>

      <div class="govuk-form-group <%= "govuk-form-group--error" if @copy_cards_payment_form.errors[:temp_payment_method].any? %>">
        <fieldset class="govuk-fieldset" id="temp_payment_method">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <%= t(".payment_method.subheading") %>
            <p class="govuk-hint"><%= t(".payment_method.legend") %></p>
          </legend>
          <% if @copy_cards_payment_form.errors[:temp_payment_method].any? %>
            <span class="govuk-error-message"><%= @copy_cards_payment_form.errors[:temp_payment_method].join(", ") %></span>
          <% end %>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <%= f.radio_button :temp_payment_method, "card", class: "govuk-radios__input" %>
              <%= f.label :temp_payment_method, value: "card", class: "govuk-label govuk-radios__label" do %>
                <%= t(".options.card") %>
                <span class="govuk-hint"><%= t(".hint_pay_by_card") %></span>
              <% end %>
            </div>

            <div class="govuk-radios__item">
              <%= f.radio_button :temp_payment_method,
                  "bank_transfer",
                  class: "govuk-radios__input",
                  disabled: WasteCarriersEngine.configuration.host_is_back_office? %>
              <%= f.label :temp_payment_method, value: "bank_transfer", class: "govuk-label govuk-radios__label" do %>
                <%= t(".options.bank_transfer") %>
                <span class="govuk-hint"><%= t(".hint_pay_by_bank_transfer") %></span>
              <% end %>
            </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <%= f.submit t(".next_button"), class: "govuk-button" %>
      </div>
    <% end %>
  </div>
</div>
