<%= render("waste_carriers_engine/shared/back", token: @transient_registration.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <%= form_for(@edit_payment_summary_form) do |f| %>
      <%= render("waste_carriers_engine/shared/payment_errors") %>

      <%= render(partial: "waste_carriers_engine/shared/error_summary", locals: { f: f }) %>

      <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

      <%= render("waste_carriers_engine/shared/order_and_total", presenter: @order_and_total_presenter) %>

      <%= render("waste_carriers_engine/shared/payment_summary_options", form: @edit_payment_summary_form, f: f) %>

      <div class="govuk-form-group">
        <%= f.submit t(".next_button"), class: "govuk-button" %>
      </div>
    <% end %>
  </div>
</div>
