<% content_for :title, t(".title") %>

<div class="text">
  <h1 class="heading-large">
    <%= t(".heading") %>
  </h1>

  <p>
    <%= t(".paragraph1", reg_identifier: @registration.reg_identifier) %>
  </p>

  <p>
    <%= t(".paragraph2_html", link_to_new_registration: new_start_form_path) %>
  </p>

  <p>
    <%= t(".paragraph3") %>
  </p>

  <p>
    <%= t(".paragraph4_html") %>
  </p>
</div>
