<div class="text">
  <h1 class="heading-large">
    <%= t(".heading") %>
  </h1>

  <p>
    <%= t(".paragraph1") %>
  </p>

  <ol class="list list-number">
    <li><%= t(".point1") %></li>
    <li><%= t(".point2") %></li>
    <li><%= t(".point3_html", link_to_new_registration: new_start_form_path) %></li>
  </ol>
</div>
