<% content_for :title, t(".title") %>

<div class="govuk-body">
  <h1 class="govuk-heading-l">
    <%= t(".heading") %>
  </h1>

  <p>
    <%= t(".paragraph1") %>
  </p>

  <ol class="govuk-list govuk-list--number">
    <li><%= t(".point1") %></li>
    <li><%= t(".point2") %></li>
    <li><%= t(".point3_html", link_to_new_registration: new_start_form_path) %></li>
  </ol>
</div>
